use_default_settings: true
general:
  debug: false
  instance_name: "LUCY OSINT"
  donation_url: false
  contact_url: false
  privacypolicy_url: false
  enable_metrics: false
search:
  safe_search: 0
  autocomplete: ""
  default_lang: ""
  formats:
    - html
    - json
server:
  port: 8080
  bind_address: "0.0.0.0"
  secret_key: "lucy_secret_key"
  base_url: "http://localhost:8080/"
